<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: pagehead('ADMIN - Producenci', 'none')}"/>
<body>
<div class="container-fluid">

    <div th:replace="~{fragments :: menu}"></div>

    <div>
        <h2>Producenci części</h2>
        <a th:href="@{/brands/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div th:replace="fragments :: search_form('/brands/page/1')" />

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Logo</th>
                <th>Nazwa</th>
                <th>Categories</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand : ${listBrands}">
                <td>[[${brand.id}]]</td>
                <td>
                    <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>[[${brand.name}]]</td>
                <td>
                    <th:block th:each="cat : ${brand.categories}">
                        <span class="badge badge-secondary" th:text="${cat.name}"></span>
                    </th:block>
                </td>
<!--
                <td>
                    <a th:if="${brand.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                       th:href="@{'/brands/' + ${brand.id} + '/enabled/false'}"
                       title="Zmień status kategorii"
                    ></a>

                    <a th:if="${brand.enabled == false}" class="fas fa-circle fa-2x icon-dark"
                       th:href="@{'/brands/' + ${brand.id} + '/enabled/true'}"
                       title="Enable this category"
                    ></a>
                </td>
                -->
                <td>
                    <a class="fas fa-edit fa-2x icon-green" th:href="@{'/brands/edit/' + ${brand.id}}" title="Edycja producenta"></a>
                    &nbsp;
                    <a class="fas fa-trash fa-2x icon-dark link-delete icon-red"
                       th:href="@{'/brands/delete/' + ${brand.id}}" th:brandId="${brand.id}" title="Usuń użytkownika"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>





    <div th:replace="~{modal_fragments :: confirm_modal}" />

    <div th:replace="~{fragments :: footer}"/>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            brandId = link.attr("brandId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Usunąć producenta o ID " + brandId + "?");
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = "[[@{/brands}]]";
    }
</script>

</body>
</html>