<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: pagehead('ADMIN - PANEL', 'none')}"/>
<body>
<h1>Witam w panelu admina</h1>
<div class="container-fluid">
    <div th:replace="~{fragments :: menu}"></div>
    <div>
        <h1>Panel kontrolny</h1>
        Witaj
        <a th:href="@{/account}"
           sec:authentication="principal.fullName"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

</body>
</html>