<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: pagehead('ADMIN - PANEL', 'none')}"/>
<body>
<div class="container-fluid">
  <div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/kazauto.png}" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">Użytkownicy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/categories}">Kategorie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/brands}">Producenci</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cars}">Auta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products}">Produkty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/customers}">Klienci</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/shipping}">Wysyłka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/orders}">Zamówienia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/report}">Raporty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/articles}">Artykuły</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/menus}">Menusy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/settings}">Ustawienia</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>

  <div>
    <h2>Zarządzanie użytkownikami</h2>
    <a th:href="@{/users/new}">Nowy użytkownik</a>
  </div>

  <div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Uprawnienia</th>
        <th>Aktywny</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${listUsers}">
        <td>[[${user.id}]]</td>
        <td>[[${user.email}]]</td>
        <td>[[${user.firstName}]]</td>
        <td>[[${user.lastName}]]</td>
        <td>[[${user.roles}]]</td>
        <td>
          <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" href=""></a>
          <a th:if="${user.enabled == false}" class="fas fa-check-circle fa-2x icon-dark" href=""></a>
        </td>
        <td>
          <a class="fas fa-edit fa-2x icon-green" href=""></a>
          &nbsp;
          <a class="fas fa-trash fa-2x icon-dark" href=""></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <p>SKLEP ON-line &copy; Me</p>
  </div>

</div>
</body>
</html>